body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	width: 100%;
	height: 100vh;
	margin: 0;
}

a {
	color: #00B7FF;
}

#left-panel{
	background-color: #4D394B;
	width: 20%;
	float: left;
	height: 100vh;
}
#right-panel{
	background-color: white;
	width: 75%;
	float: left;
	height: 100vh;
}

#mess{
	width: 100%;
	height: 100vh;
}

#amess{
	margin-left: 2.5%;
	margin-bottom: 2%;
	width: 95%;
}

#nuser{
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	height: 10%;
	padding-bottom: 10px;
	width: 100%;
	border-bottom: 1px solid #d0d4db;
}
#nuser li{
	background-color: white;
	color: black;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	margin-left: 5%;
	border: none;
	border-radius: 1px;
	line-height: 60px;
	font-family: 'Lato',sans-serif;
	font-size: 2.5em;
}

#amess{/* 
	min-height: 75vh;
	height: auto;*/
	height: 75vh;
	border: none;
	overflow: scroll;
}
/* 
#container{
	height: 75vh;
	border: none;
	overflow: hidden;
} */


#fmess input{
	width: 80%;
	background: transparent;	
	border: 2px solid #bdcccc;
	width: 90%;
	margin-left: 4%;
	line-height: 2em;
	border-radius: 4px;
}	

.usr{
	font-size: 20px;
	color: black;
	margin-left: 10px;
	font-family: 'Lato',sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 20px;	
}

.msg{
	font-size: 15px;
	color: black;
	margin-left: 20px;
	font-family: 'Lato',sans-serif;
	font-size: 1em;
	margin-bottom: 20px;
}

#send{
	background-color: #399cce;
	font-family: sans-serif;
	border: none;
	height: 2em;
	border-radius: 5px;
	margin-left: 50px;
	display: none;
	font-weight: lighter;
}

#send:hover{
	background-color: #75c6ef;
	transition: all 0.5s ease;
	cursor: pointer;
}

#title{
	width: 100%;
	height: 10%;
	font-family: 'Lato',sans-serif;
	font-size: 2.5em;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

#userList{
	width: 100%;
	height: 85%;
	overflow: scroll;
	overflow-x: hidden;
}

.list_user{
	color: white;
	width: 100%;
	height: 10%;
	text-align: center;
	padding-top: 10px;
	font-family: 'Lato',sans-serif;
	font-size: 1.5em;
	display: block;
	background:#4D394B;
	border: none;
	padding-bottom: 15px;
	padding-top: 15px; 
}

.list_user:hover{
	background: #664963; 
	cursor: pointer;
	transition: all 0.5s ease;
}
